# Dependencies
node_modules/
.pnpm-store/

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Web
web/dist/
web/dist-ssr/

# Mobile / Expo
mobile/.expo/
mobile/dist/
mobile/.env
mobile/ios/
mobile/android/

# Env
.env
*.local

# Editors / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.iml

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
